<footer style="user-select: auto;">
  <div class="container mt-5" style="user-select: auto;">
  	<div class="row" style="user-select: auto;">
    	<div class="mx-auto" style="user-select: auto;">
    		<p style="user-select: auto;">CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
</footer>